# TEST QUESTION

The goal is to differentiate between expired and non-expired items using the date column. All items with a date
before 2021-01-01 are expired.

# Column description

sku: an item identifier

warehouse_location: the warehouse location of an item

quantity: numbers of item in a warehouse location for a specific item

date: expiration date of an item

## Importing Libraries

In [11]:
#Exploratorey Libraries
import pandas as pd
import numpy as np

In [12]:
#Importing dataset 
df = pd.read_csv('dataset.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                10 non-null     object
 1   sku                 10 non-null     int64
 2   warehouse_location  10 non-null     object
 3   quantity            10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [14]:
df.head()

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
1  2020-11-09  100940479              lagos        84
2  2021-01-15  100940480                oyo        11
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23

In [15]:
df['date'] = pd.to_datetime(df['date'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                10 non-null     datetime64[ns]
 1   sku                 10 non-null     int64
 2   warehouse_location  10 non-null     object
 3   quantity            10 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 448.0+ bytes

In [17]:
#filtering
df['obsolete'] = np.where(df.date < "2021-01-01", True,False)

In [21]:
df.head(10)

        date        sku warehouse_location  quantity  obsolete
0 2021-01-02  100940478              lagos        23     False
1 2020-11-09  100940479              lagos        84      True
2 2021-01-15  100940480                oyo        11     False
3 2016-11-09  100940481               ogun        98      True
4 2017-04-04  100940482               ogun        23      True
5 2018-01-13  100940483               abia         3      True
6 2021-03-15  100940484             kaduna         7     False
7 2021-01-11  100940485              abuja         4     False
8 2021-02-16  100940486               kano         9     False
9 2019-06-06  100940487            anambra       199      True

In [23]:
#Exporting to Jason format
df.to_json(r'Result.json')